.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal .fa-times {
  position: absolute;
  top: 3vh;
  right: 5vh;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal .fa-times {
    top: 2vh;
    right: 2vh;
  }
}
